/* Default styles for all screen sizes */
body {
  background-color: #00E3E3;
  color: white;
  margin: 0;
  text-align: center;
  font-size: 16px; /* Set a default font size */
}

/* Reset default button styles */
button {
  background-color: #00E3E3;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
}

.play-again {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
}

.play-again:hover {
  background-color: #3f17f3;
}

.image-button {
  display: inline-block;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}

.image-button img {
  width: 100%;
  max-width: 200px;
  height: auto;
  display: block;
}

.exit-button-container {
  display: flex;
  justify-content: flex-end;
  bottom: 10px;
  right: 10px;
}

/* Base styles for game container */
.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.header-container {
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

.choice-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.round {
  color: white;
}

.player-choice {
  display: flex;
  justify-content: center;
}

.player-score,
.computer-score {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* CSS */
.blinking {
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.ai-wins {
  font-size: 24px;
  color: red;
  transform: rotate(10deg);
}

/* Media Query for Tablets and Desktops */
@media (min-width: 1px) {
  body {
    font-size: 18px; /* Increase font size for larger screens */
  }

  .game-container {
    flex-direction: row;
  }

  .player-choice {
    justify-content: space-around;
  }

  .image-button img {
    max-width: 150px; /* Adjust max-width for larger screens */
  }
}

/* Media Query for Desktops and Larger Screens */
@media (min-width: 1024px) {
  body {
    font-size: 20px; /* Further increase font size for larger screens */
  }
}

/* Create a fixed-position overlay container */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensure it appears on top of other content */
}

/* Create a fixed-position overlay container for "You Win" message */
.overlay-win {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Adjust the height to control where it appears on the screen */
  background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensure it appears on top of other content */
  animation: blinker 3s linear infinite;
}

/* Create a fixed-position overlay container for "AI Wins" message */
.overlay-ai-win {
  position: fixed;
  bottom: 0; /* Adjust the position to control where it appears on the screen */
  left: 0;
  width: 100%;
  height: 100%; /* Adjust the height to control where it appears on the screen */
  background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensure it appears on top of other content */
  animation: blinker 3s linear infinite;
}

/* Define a class for game buttons */
.game-button {
  width: auto; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .game-button {
    width: auto; /* Adjust the width for smaller screens */
  }
}

.radio-buttons {
  display: flex;
  flex-direction: row-reverse;
  color:black;
}